<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %method - %msg%n"/>
        </Console>
        <File name="FILE" fileName="D:\epam\final-project\logs\log.txt">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %method - %msg%n"/>
            <LevelRangeFilter minLevel="FATAL" maxLevel="ERROR"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>